{% extends 'base.html.twig' %}
{% block Css %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}{{ parent() }} Home{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <p class="alert-{{ label }}">{{ message }}</p>
        {% endfor %}
    {% endfor %}
<body class="bg">



</body>


{% endblock %}
