@media (min-width: 900px) {
    .bg {
        background-image: url("../images/bg-site.jpg");
        background-attachment: fixed;
        height: 100% !important;
    }
}

.bg-container {
    background-color: white;
    height: 100vh;
}