@media (min-width: 900px) {
    body {
        background-image: url("../images/bg-site.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;

    }
}

.bg-container {
    background-color: white;
    /*min-height: 100vh;*/
    height: fit-content;
    width: 75%;
    padding: 0;
}
.btn-client {
    width: 20%;
}

.btn-graph {
 width: 70%;
}

.navbar {
background-color: #D6F5C6;
}

.gras {
    font-weight: 900;
}

li>a:hover {
    background-color: #20c997;
}